on:
  workflow_call:
    inputs:
      username:
        description: 'A username passed from the caller workflow'
        default: 'john-doe'
        required: false
        type: string
  
jobs:
  print-username:
    runs-on: ubuntu-latest
    steps:
      - name: Print the input name to STDOUT
        uses: Mudlet/xmlstarlet-action@v1.1
        with:
          args: ed -r "//*/@id" -v ID xml/tab-obj.xml
